body {
  overflow-y: scroll;
  background-image:  url("img/w2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#nav {
  position: sticky;
  width: 100;
  height: 100px;
  /* background-color: rgb(30,120,120,0.9); */
  background-color: white;
}

#nav-text {
  margin: 0.5%;
  float: left;
  font-family: Ubuntu;
  font-size: 450%;
  color: black;
}

#nav-container {
  height: 100%;
  width: 70%;
  float: right;
  display: none;
}

.nav-option {
  text-align: center;
  font-family: Ubuntu;
  font-size: 200%;
  width: 20%;
  height: 100%;
  padding-left: 1%;
  padding-right : 1%;
  float: right;
  color: black;
  /* border-style: solid;
  border-width: 0.2px;
  border-color: white; */
}

.nav-option:hover {
  background-color: turquoise;
  cursor: grab;
}

#lore {
  font-size: 1000%;
}
